{% extends 'base.html.twig' %}

{% block title %}Bob Ross says:{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Bob Ross Generator!</h1>
            Your magic number is {{ number }}!
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>I guess I'm a little weird. I like to talk to trees and animals. That's okay though; I have more fun than most people. We can always carry this a step further. There's really no end to this. Isn't that fantastic? The light is your friend. Preserve it. Isn't it fantastic that you can change your mind and create all these happy things? If you overwork it you become a cloud killer. There's nothing worse than a cloud killer.</p>
                </div>
                <div class="col-md-4">
                    <p>You can do anything your heart can imagine. And that's when it becomes fun - you don't have to spend your time thinking about what's happening - you just let it happen. And I will hypnotize that just a little bit.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
